.detail-page-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

.preview-video {
  color: white;
  max-height: 465px;
  border: 1px solid rgba(185, 180, 180, 0.158);
  box-shadow: 20px 20px 20px black;
  border-radius: 8px;
}

.arrow-icon {
  align-self: center;
  margin: 35px;
}

.details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  margin-top: 20px;
  border: 1px solid rgba(185, 180, 180, 0.158);
  box-shadow: 20px 20px 20px black;
  border-radius: 8px;
}

.details {
  margin: 20px;
  max-width: fit-content;
}

.aditional-info {
  max-width: 40%;
  margin: 15px;
}

.minimum-requirements {
  max-width: 40%;
  margin: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.details > h3 {
  text-shadow: 2px 1px 1px white;
  text-decoration: underline white 1px;
}

.aditional-info > h3 {
  margin: 10px;
  text-shadow: 2px 1px 1px white;
  text-decoration: underline white 1px;
}

.minimum-requirements > h3 {
  margin: 10px;
  text-shadow: 2px 1px 1px white;
  text-decoration: underline white 1px;
}

/* @media only screen and (max-width: 1024px) {
  .detail-page-container {
    min-width: 319vw;
    min-height: 300vh;
  }
} */
