/* .category-games {
  display: flex;
  justify-content: center;
} */

.card-games {
  display: flex;
  margin: 10px;
  border-radius: 50px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  /* background-color: rgba(185, 180, 180, 0.158); */
  /* border: 2px solid black; */
}

.card-game {
  padding: 10px;
  margin-right: 10px;
  transition: transform 450ms;
}

.card-games::-webkit-scrollbar {
  width: 10px;
}

.card-game > img {
  border-radius: 50px;
}

.card-game:hover {
  transform: scale(1.08);
  opacity: 1;
}
