/* .category-games {
  display: flex;
  justify-content: center;
} */

.card-games {
  display: flex;
  margin: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.card-games::-webkit-scrollbar {
  width: 10px;
}

.card-game {
  margin-right: 25px;
  border-radius: 50px;
  border: 0px solid black;
  transition: transform 450ms;
}

.card-game:hover {
  transform: scale(1.08);
  box-shadow: 0px 10px 10px black;
  opacity: 1;
  border: 1px solid rgba(185, 180, 180, 0.158);
}

.link-container > img {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
}

.card-icons {
  margin: 30px;
}
