.loading_spinner {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .loading_spinner {
    display: none;
  }
}
