.App {
  background-color: #080b0c;
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .App {
    min-width: 319vw;
    min-height: 305vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .footer-page-container {
  }
  .social-media-container {
  }
}
