.App {
  background-color: #080b0c;
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .App {
    min-width: 150vh;
    max-width: 300vh;
    min-height: 288vh;
    max-height: 300vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
