.home-page-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: white;
}

.mini-navbar-container {
  display: flex;
  justify-content: center;
}

.game-containers {
  background-color: #0f1116;
  /* min-height: 1000px; */

  width: 50%;
  height: 100%;
  border: 5px solid rgba(185, 180, 180, 0.158);
  border-radius: 50px;
}
