.home-page-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
}

.game-containers {
  background-color: #0f1116;
  /* min-height: 1000px; */

  width: 50%;
  height: 100%;
  align-self: center;
  border: 5px solid rgba(185, 180, 180, 0.158);
  border-radius: 50px;
}
